.header {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 70%;
	margin: 0 auto;
	padding-top: 3%;

	@include media("phone") {
		flex-direction: column;
	}
}

.nav {
	&__first,
	&__second {
		display: flex;
		width: 40%;
		justify-content: space-around;
		padding: 3rem 0;
		border-bottom: 2px solid #ff9900;

		@include media("phone") {
			padding: 0;
			display: none;
		}
	}

	&__mobile {
		display: flex;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		text-align: center;
		background-color: #ff9900;
		transform: translateY(-100%);
		transition: transform 0.5s ease;
		z-index: 5;

		&--visible {
			transform: translateY(0%);
		}
	}

	&__links {
		list-style: none;
		display: flex;
		width: 100%;
		justify-content: space-around;
		font-size: 2.5rem;

		@include media("phone") {
			flex-direction: column;
		}
	}

	&__img {
		height: 16rem;
		margin: 0 2rem;
	}

	&__link {
		text-shadow: var(--text-shadow);
		transition: all 0.2s;

		@include media("phone") {
			padding: 2rem 0;
		}

		&:hover {
			transform: translateY(-2px);
			text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.4);
		}
	}
}

.burger {
	display: none;
	z-index: 6;

	@include media("phone") {
		display: block;
		position: absolute;
		top: 3rem;
		left: 3rem;
		width: 3rem;
	}

	&__line {
		height: 2px;
		width: 100%;
		background-color: #ff9900;
		margin: 5px 0;
	}

	&__line:nth-child(2) {
		transform-origin: left;
		transform: scaleX(0.7);
		transition: transform 0.2s linear;
	}
	&__line:nth-child(3) {
		transform-origin: left;
		transform: scaleX(0.5);
		transition: all 0.2s linear 0.1s;
	}

	&--active > * {
		transform: scaleX(1) !important;
		background-color: white;
	}
}
